@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.brand-dark');
  color: theme('colors.brand-light');
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: theme('colors.brand-dark');
}

::-webkit-scrollbar-thumb {
  background: theme('colors.brand-accent');
  border-radius: 4px;
}
html {
  scroll-behavior: smooth;
}
